/* Header */

body,
header,
nav,
div,
ul,
li,
a,
img {
	margin: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	text-decoration: none !important;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	width: min(1300px, 90vw);
	margin: 0 auto;
}

header {
	background-color: #8C52FF;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header nav .logo-a img {
	height: 50px;
}

header nav .links-principais {
	display: flex;
	gap: 65px;
	margin: 0 auto;
}

header nav .links-principais li a {
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	text-decoration: none;
}

header nav .links-principais li a:hover {
	opacity: 0.7;
	text-decoration: none;
}

header nav button.dropdown-toggle,
header nav button.dropdown-toggle:hover,
header nav button.dropdown-toggle:active,
header nav button.btn-secondary:not(:disabled):not(.disabled):active,
header nav button.btn-secondary:focus,
header nav button.navbar-toggler:focus {
	outline: none;
	border: none;
	background-color: transparent !important;
	--bs-btn-active-bg: transparent;
	box-shadow: none !important;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-image: var(--bs-navbar-toggler-icon-bg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

header nav button.dropdown-toggle::after {
	display: none;
}


header nav .btn {
	line-height: 1 !important;
	padding: 0px !important;
}

header nav .dropdown-menu {
	flex-direction: column;
	gap: 19px;
	background-color: #8C52FF;
	padding: 16px;
	border: none;
	border-radius: 0px 0px 20px 20px;
	width: max-content;
	z-index: 10;
	position: absolute;
	right: 300px;
	box-sizing: border-box;
	left: 0;
}

header nav .dropdown-menu.show {
	display: flex;
	position: absolute;
	left: -100px;
}

header nav .dropdown-menu li a {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}

header nav .dropdown-menu li a:hover {
	opacity: 0.7;
	text-decoration: none;
}

.mobile {
	display: none !important;
}

@media (max-width: 992px) {
	header nav .links-principais {
		gap: 20px;
		display: flex !important;
		padding: 0;
	}

	.mobile {
		display: block !important;
	}

	.desktop {
		display: none;
	}
}

@media (max-width: 440px) {
	header nav .links-principais.mobile li:nth-child(1) {
		display: none !important;
	}

	.links-principais.navbar-nav.mr-auto li:nth-child(1) {
		display: block;
	}
}

@media (max-width: 376px) {
	header nav .links-principais.mobile li:nth-child(2) {
		display: none !important;
	}

	.links-principais.navbar-nav.mr-auto li:nth-child(2) {
		display: block;
	}
}

@media (max-width: 286px) {
	header nav .links-principais.mobile li:nth-child(3) {
		display: none !important;
	}

	.links-principais.navbar-nav.mr-auto li:nth-child(3) {
		display: block;
	}
}

.bi.bi-list {
	color: #fff;
	font-size: 50px;
}

/*  Noticias */

#noticias .row {
	width: 100%;
}

#destaque1.card {
	background-position: center;
	background-size: cover;
	height: 100%;
	min-height: 620px;
}

#direita {
	height: 660px;
	margin-inline: 0;
}

#destaque2.card {
	background-position: center left;
	background-size: cover;
	height: 100%;
}

#texto {
	margin-bottom: 170px;
	text-align: center;
}

#destaque3.card {
	background-position: center;
	background-size: cover;
	height: 100%;
}

#destaque4.card {
	background-position: center left;
	background-size: cover;
	height: 100%;
}

#noticias-secundarias {
	padding: 50px 20px;
	margin: 0 auto;
}



.content-img {
	max-height: 272px;
	display: block;
	overflow: hidden;
}

#noticias .col-lg-6 {
	padding: 0px;
}

.card-body {
	text-align: center;
	color: black;
	border-radius: 20px;
	padding: 20px;
	height: 230px;
	min-width: 168px;
}

.icone {
	font-size: 45px;
}

.card-title {
	font-size: 25px;
}

#noticias .card {
	border-radius: 30px;
	max-width: 100% !important
}

#noticias p {
	font-size: 15px;
	font-weight: bold;
}

.card-body img {
	object-fit: cover;
	width: 100%;
	height: 90%;
}

#noticias .cards {
	justify-content: space-around;
}

#noticias .cards .card {
	/* width: 33.33%; */
	flex-wrap: wrap;
	max-width: 350px;
	min-width: 300px;

}

#noticias .nav-link {
	padding: 0;
	color: white;
}

#noticias .nav-item {
	color: white;
}

/* Rodapé */
footer {
	background-color: #8C52FF;
	font-family: "Inter", sans-serif;
	padding: 10px 0;
}

footer .container {
	display: flex;
	justify-content: space-around;
	gap: 30px;
	flex-wrap: wrap;


}


footer .container nav h2 {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	position: relative;
	margin-bottom: 2px;

}

footer .container nav h2::after {
	content: "";
	height: 4px;
	width: 60px;
	background-color: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;

}

footer .container nav {
	gap: 8px;
}

footer .container nav a {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	padding: 0;

}

footer .container nav a:hover {
	color: #fff;
}

.copy {
	margin-left: auto;
	width: max-content;
	margin-right: 10px;
	font-size: 9pt;
	color: #fff;
	font-family: 'Inter';
}

@media (max-width: 553px) {
	.copy {
		margin-top: 20px;
	}
}

/*  */


.home-container .row {
	justify-content: center;
}

.home-container .content-card {
	min-width: 350px;
}

.card-big-shadow {
	max-width: 400px;
	position: relative;
}

.coloured-cards .card {
	margin-top: 30px;
}

.card[data-radius="none"] {
	border-radius: 0px;
}

.card {
	box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #eee;
	color: #252422;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
}


.card[data-background="image"] .title,
.card[data-background="image"] .stats,
.card[data-background="image"] .category,
.card[data-background="image"] .description,
.card[data-background="image"] .content,
.card[data-background="image"] .card-footer,
.card[data-background="image"] small,
.card[data-background="image"] .content a,
.card[data-background="color"] .title,
.card[data-background="color"] .stats,
.card[data-background="color"] .category,
.card[data-background="color"] .description,
.card[data-background="color"] .content,
.card[data-background="color"] .card-footer,
.card[data-background="color"] small,
.card[data-background="color"] .content a {
	color: #FFFFFF;
}

.card.card-just-text .content {
	padding: 50px 65px;
	text-align: left;
}

.card .content {
	padding: 20px 20px 10px 20px;
}

.card[data-color="blue"] .category {
	color: #7a9e9f;
}

.card .category,
.card .label {
	font-size: 14px;
	margin-bottom: 0px;
}

.card-big-shadow:before {
	background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	bottom: -12%;
	content: "";
	display: block;
	left: -12%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

h4,
.h4 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.2em;
}

h6,
.h6 {
	font-size: 0.9em;
	font-weight: 600;
	text-transform: uppercase;
}

.card .description {
	font-size: 16px;
	color: #66615b;
}

.content-card {
	margin-top: 30px;
}

a:hover,
a:focus {
	text-decoration: none;
}

.card[data-color="blue"] {
	background: #b8d8d8;
}

.card[data-color="blue"] .description {
	color: #506568;
}


/* Achados e perdidos */

#principal {
	flex-wrap: wrap;
	max-height: auto;
	padding: 0px;
	margin: 0px;
}

#principal>div {
	padding: 25px;
}

#botao-achados {
	margin-top: 20px;
	color: #fff !important;
	text-align: center;
}

#botao-achados .btn-outline-primary {

	color: #fff !important;
	border: none !important;
	box-shadow: none !important;
}

#botao-achados .btn.btn-outline-primary {
	background-color: #4b0082;
	
}

#botao-achados .btn.btn-outline-primary:hover {
	background-color: #b509ff;
}


#principal>.perdidos {
	max-height: 0 0 auto 0;
	left: 1020px;
	top: 67px;
	padding-top: 50px;
	display: none;
	text-align:center;
}


#achados .col {
	border: 1px solid rgb(173, 173, 173);
	margin: 5px;
	border-radius: 10px;
	z-index: 1;
	background-color: white;
}

.h4,
h4 {
	font-size: 14pt !important;
	font-family: 'Inter' !important;
	text-align: center;
}

.center {
	display: block;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 0.7em;
}

#achados {
	margin: 0 auto;
	max-width: 1000px;
}

#achados-perdido p {
	font-weight: normal;
}

.form {
	margin: 5px;
}
/* Calendario */

#calendar .tab {
	margin-top: 10px;
	display: flex;
	justify-content: center;

}

#calendar .tab button {
	background-color: #f1f1f1;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	transition: background-color 0.3s;
	width: 130px;
}

#calendar .tab button:hover {
	background-color: #ddd;
}

#calendar .tab button.active {
	background-color: #ccc;
}

#calendar .tabreplacepage {
	display: none;
	padding: 10px 10px;
	margin: auto;
}

.botao {
	border: 0 none;
	border-radius: 5px;
	box-shadow: 0 0 0 0;
	outline: 0;
	background: #8C52FF;
	color: white;
	padding: 6px 12px;
}

#calendar table {
	min-width: 100%;
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
	width: 100%;
	text-align: center;
}

#calendar table th,
table td {
	padding: 10px 0px;
	text-align: center;
	max-width: auto;
}

#calendar table th {
	background-color: #8C52FF;
	color: white;
}

#calendar table tr:nth-child(even) {
	background-color: #e8e7e7;
}

#calendar table td.semaula {
	background-color: #f990b5;
}

#calendar table td.semaula.tablinkquadro {
	background-color: #f990b5;
}

#calendar table td.domingo {
	background-color: hwb(0 59% 0%);
	color: rgb(0, 0, 0);
}

#calendar table td.tablinkquadro {
	cursor: pointer;
	background-color: #f1f1f1;
	transition: background-color 0.3s;
}

#calendar table td.tablinkpage:hover {
	background-color: #ddd;
}

#calendar table td.tablinkquadro:hover {
	background-color: #ddd;
}

#calendar table td.tablink:hover {
	background-color: #ddd;
	cursor: pointer;
}

#calendar table td.avisos {
	background-color: #bdf6b4;
}

#calendar table td.or {
	background-color: #c9ecf6;
	cursor: pointer;
}

#calendar .legenda {
	position: static;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: auto;
}

#calendar .legenda table {
	position: relative;
	margin-right: 20px;
	border: 1px solid #c0c0c0;
}

#calendar .quadro {
	margin-top: 10px;
	position: static;
	width: auto;
}

#calendar .tabreplacequadro {
	display: none;
	align-content: center;
	width: auto
}

.comabv {
	display: none;
}

#calendar .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: #8c52ff !important;
}

@media (max-width: 576px) {
	.info table {
		position: relative;
		min-width: 130px;
	}

	.quadro {
		position: relative;
		min-width: 130px;
	}

	#calendar .semabv {
		display: none;
	}

	#calendar th.comabv {
		display: table-cell;
	}
}

/* Cursos */

h5,
h3 {
	text-align: center !important;
	margin-top: 0.8em !important;
}

.cursos-cards.botao.center {
	margin-top: 1em;
}

/*vagas de estagio*/

#vagas #principal {}

#vagas .botao {
	background: rgb(174, 11, 255);
}

#vagas-container .container {
	max-width: 1585px !important;
}

/* *********Contato*********/

#contato-subheader {
	height: 145px;
	width: auto;
	padding: 45px 0px;
	font-weight: bold;
}

#conteudo {
	margin: 30px auto;
	width: 600px;
	border: 1px solid #dfdfdf;
	height: auto;
	border-radius: 15px;
}

#conteudo .titulo {
	font-weight: bold;
}

#conteudo form {
	padding: 20px;
}

#conteudo input,
textarea {
	border-radius: 05px;
}

#conteudo h1 {
	padding: 50px 0 0px 0;
}

textarea {
	margin: auto;
	width: 234px;
}

#contato-subheader ul {
	padding: 0px;
	display: flex;
	gap: 100px;
}


/* Guia de carreira */
#guia-de-carreira .modal-content {
	padding: 20px;
}

#guia-de-carreira .modal-content .modal-header {
	padding-right: 0;
	padding-left: 0;
}
